@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Chi tiết sản phẩm</h2>
    <div>
        <img src="@Model.Image" alt="@Model.ProductName" width="300" />
    </div>
    <div>
        <h3>@Model.ProductName</h3>
        <p><strong>Giá:</strong> @Model.Price</p>
        <p><strong>Giá khuyến mãi:</strong> @Model.DiscountPercentage</p>
        <p><strong>Mã danh mục:</strong>@Model.CategoryID.ToString()</p>
        <p><strong>Mô tả:</strong> @Model.Description</p>
        <p><strong>Ngày tạo:</strong> @Model.CreatedAt.ToString("dd/MM/yyyy")</p>
        <p><strong>Ngày cập nhật:</strong> @Model.UpdatedAt.ToString("dd/MM/yyyy")</p>
        <p>
            <a asp-controller="Product" asp-action="Index">Quay lại danh sách sản phẩm</a>
        </p>
    </div>
}
