@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Danh sách sản phẩm</h2>
    <table>
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Giá khuyến mãi</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Loại sản phẩm</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.MaSP</td>
                <td>@product.TenSP</td>
                <td>@product.DonGia.ToString()</td>
                <td>@product.DonGiaKhuyenMai.ToString()</td>
                <td>
                    <img src="@product.HinhAnh" alt="@product.TenSP" width="100" />
                </td>
                <td>@product.MoTa</td>
                <td>@product.LoaiSP</td>
                <td>| <a asp-controller="Product" asp-action="Details" asp-route-id="@product.MaSP">Xem chi tiết</a></td>
            </tr>
        }
        
    </table>
}
