@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var area = ViewData["Area"] as string ?? "";// kiểm tra gọi từ Admin hay Public PNSon thêm
}
<h2>Danh sách sản phẩm</h2>
<table>
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Giá khuyến mãi</th>
            <th>Hình ảnh</th>
            <th>Mô tả</th>
            <th>Loại sản phẩm</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductID</td>
            <td>@product.ProductName</td>
            <td>@product.CategoryID.ToString()</td>
            <td>@product.Price.ToString()</td>
            <td>@product.DiscountPercentage.ToString()</td>
            <td>@product.Stock.ToString()</td>
            <td>
                <img src="@product.Image" alt="@product.ProductName" width="100" />
            </td>
            <td>@product.Description</td>
            <td>@product.Status.ToString()</td>
            <td>@product.CreatedAt.ToString("yyyy-MM-dd")</td>
            <td>@product.UpdatedAt.ToString("yyyy-MM-dd")</td>
            <td>| <a asp-area="@area" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductID">Xem chi tiết</a></td>
        </tr>
        //PNSon thêm asp-area="area" để quay lại đúng area gọi đến
    }
</table>





<style>
    /* Định dạng bảng */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 14px;
        text-align: center;
        table-layout: auto;
    }

        /* Header */
        table thead th {
            background-color: #343a40;
            color: #fff;
            padding: 10px;
            border: 1px solid #ddd;
            white-space: nowrap;
        }

        /* Ô dữ liệu */
        table td {
            border: 1px solid #ddd;
            padding: 8px;
            vertical-align: middle;
            word-wrap: break-word;
            max-width: 250px;
        }

            /* Ảnh sản phẩm */
            table td img {
                display: block;
                margin: 0 auto;
                border-radius: 6px;
            }

        /* Tô màu xen kẽ */
        table tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }

        /* Hover */
        table tbody tr:hover {
            background-color: #e9ecef;
            transition: 0.2s;
        }
</style>

