@model List<core_23webc_gr6.Models.Product>
<!-- CHNhu - 12/10/2025 - Sửa lại link để load được ảnh + css cho ảnh có size cố định -->

<div class="single-product-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-3 col-sm-6">
					<div class="single-shop-product">
						<div class="product-upper">
							<img class="product-img" src="~/img/Products/@item.image" alt="@item.productName" />
						</div>
						<h2>
							<a asp-controller="Product" asp-action="Details" asp-route-id="@item.productId">
								@item.productName
							</a>
						</h2>
						<div class="product-carousel-price">
							@if (item.discountPercentage > 0 && item.discountPercentage <= 100)
							{
								var newPrice = item.price - (item.price * item.discountPercentage / 100);
								<ins>@newPrice.ToString("N0") VNĐ</ins>
								<del>@item.price.ToString("N0") VNĐ</del>
							}
							else
							{
								<ins>@item.price.ToString("N0") VNĐ</ins>
							}
						</div>

						<div class="product-option-shop">
							<a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
								rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
						</div>
					</div>
				</div>
			}
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="product-pagination text-center">
					<nav>
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.product-img {
		width: 220px;
		height: 220px;
		object-fit: contain;
	}
</style>
<!-- endCHNhu -->
