@using core_23webc_gr6.Models
@model List<Product>

@{
	ViewData["Title"] = "Quản lý sản phẩm (Admin)";
	ViewData["Area"] = "Admin"; // dòng này để phân biệt admin
	var page = ViewBag.Page as int? ?? 1;
	var totalPages = ViewBag.TotalPages as int? ?? 1;
}

<!-- PNSon -->
<div id="page-wrapper">
	<div class="container-fluid">
		<h2>Danh sách sản phẩm</h2>
		@* 		
			FIX - 07/10/2025 - SON
			Ý nghĩa? Message đâu mà binding vô ?
			
			Hiển thị thông báo thành công nếu có
			@if (!string.IsNullOrEmpty(message))
			{
				<div class="alert alert-success">@message</div>
			} 
		*@
		@* Bảng hiển thị danh sách sản phẩm *@
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Mã sản phẩm</th>
					<th>Tên sản phẩm</th>
					<th>Mã danh mục</th>
					<th>Giá</th>
					<th>Giá khuyến mãi</th>
					<th>Số lượng tồn kho</th>
					<th>Hình ảnh</th>
					<th>Mô tả</th>
					<th>Trạng thái</th>
					<th>Ngày tạo</th>
					<th>Ngày cập nhật</th>
					<th>Chi tiết</th>
				</tr>
			</thead>
			<tbody>
				@* Lặp qua từng sản phẩm trong Model *@
				@foreach (var sp in Model)
				{
					<tr>
						<td>@sp.ProductID</td>
						<td>@sp.ProductName</td>
						<td>@sp.CategoryID</td>
						<td>@sp.Price.ToString()</td>
						<td>@sp.DiscountPercentage.ToString()</td>
						<td>@sp.Stock.ToString()</td>
						<td>
							<img src="@sp.Image" alt="@sp.ProductName" width="100" />
						</td>
						<td>@sp.Description</td>
						<td>@sp.Status.ToString()</td>
						<td>@sp.CreatedAt.ToString("dd/MM/yyyy")</td>
						<td>@sp.UpdatedAt.ToString("dd/MM/yyyy")</td>
						<td>| <a asp-controller="sp" asp-action="Details" asp-route-id="@sp.ProductID">Xem chi tiết</a></td>

					</tr>
				}
			</tbody>
		</table>
		@* Phân trang *@
		<nav>
			<ul class="pagination">
				<li class="page-item @(page == 1 ? "disabled" : "")">
					<a class="page-link"
						href="@Url.Action("Index", "Product", new { area = "Admin", page = page - 1 })">«</a>
				</li>
				@for (int i = 1; i <= totalPages; i++)
				{
					<li class="page-item @(i == page ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", "Product", new { area = "Admin", page = i })">@i</a>
					</li>
				}
				<li class="page-item @(page == totalPages ? "disabled" : "")">
					<a class="page-link"
						href="@Url.Action("Index", "Product", new { area = "Admin", page = page + 1 })">»</a>
				</li>
			</ul>
			<span>Trang @(page) / @(totalPages)</span>
		</nav>
		@* Nút chuyển sang trang thêm sản phẩm *@
		<a class="btn btn-primary" href="@Url.Action("AddProduct", "Product", new { area = "Admin" })">Thêm sản phẩm</a>
	</div>
</div>
<!-- endPNSon -->
